<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meriç Sarıkaya | Junior Computer Engineer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo"><a href="index.html">Meriç<span>.</span></a></div>
        <div class="nav-links">
            <a href="index.html" class="active">Ana Sayfa</a>
            <a href="about.html">Hakkımda</a>
            <a href="projects.html">Projeler & Yetenekler</a>
            <a href="contact.html">İletişim</a>
            <a href="en/index.html" style="color: var(--primary-color); font-weight: bold; border-left: 2px solid var(--border-color); padding-left: 15px;">EN</a>
        </div>
    </nav>

    <main>
        <section class="hero">
        <div class="hero-content">
        <h3>Merhaba, ben Meriç 👋</h3>
        <h1>
        <span style="font-size: 0.7em; color: var(--text-main);">Yapay Sinir Ağları | Mobil Programlama | IoT</span><br>
        <span style="color: var(--primary-color);">Bilgisayar Mühendisi</span>
        </h1>
        <p>Marmara Üniversitesi'nde 3. sınıf öğrencisiyim. Java, Kotlin, Python ve SAP ABAP teknolojilerini kullanarak modern ve yenilikçi çözümler üretiyor, derin öğrenme ve IoT konularıyla yakından ilgileniyorum.</p>
        <a href="projects.html" class="btn">Projelerimi İncele</a>
        <a href="contact.html" class="btn" style="background-color: white; color: var(--text-main); border: 1px solid var(--border-color); margin-left: 10px;">İletişime Geç</a>
    </div>
            <div class="hero-image">
                <img src="images/DSC_5384.JPG" alt="Meriç Sarıkaya">
            </div>
        </section>
    </main>

    <footer>
        <p>© 2026 Meriç Sarıkaya. Tüm hakları saklıdır.</p>
    </footer>

</body>
</html>